/*总容器*/
.wrapper{
    width: 100%;
    height: 100%;
}

/*header部分*/
.wrapper header{
    width: 100%;
    height: 12vw;
    background-color: #e30e0e;
    color: #fff;
    font-size: 4.8vw;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*订单信息部分*/
.wrapper .order-info{
    width: 100%;
    margin-top: 12vw;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2vw;
    color: #262626;
}
.wrapper .order-info h5{
    font-size: 4vw;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.wrapper .order-info .order-info-address{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    user-select: none;
    cursor: pointer;
    margin: 1vw 0;
}
.wrapper .order-info .order-info-address p{
    width: 90%;
    font-size: 5vw;
}
.wrapper .order-info .order-info-address i{
    font-size: 6vw;
}
.wrapper .order-info p{
    font-size: 3vw;
}


/*订单明细部分*/
.wrapper h3{
    box-sizing: border-box;
    padding: 3vw;
    font-size: 4vw;
    color: #666;
    border-bottom: solid 1px #DDD;

    display: flex;
    align-items: center;
}
.wrapper .order-detailed{
    width: 100%;
}
.wrapper .order-detailed li{
    width: 100%;
    height: 16vw;
    box-sizing: border-box;
    padding: 3vw;
    color: #666;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .order-detailed li .order-detailed-left{
    display: flex;
    align-items: center;
}
.wrapper .order-detailed li .order-detailed-left img{
    width: 20vw;
    height: 16vw;
}
.wrapper .order-detailed li p{
    color: #e30e0e;
    font-size: 3.5vw;
}
.wrapper .order-detailed li .order-detailed-left p{
    color: #AAAAAA;
    font-size: 3.5vw;
    margin-left: 3vw;
}
.wrapper .order-deliveryfee{
    width: 100%;
    height: 16vw;
    box-sizing: border-box;
    padding: 3vw;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5vw;
}

/*合计部分*/
.wrapper .total{
    width: 100%;
    height: 14vw;
    background-color: #505051;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
}
.wrapper .total .total-left{
    flex: 2;
    background-color: #505051;
    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .total .total-right{
    flex: 1;
    background-color: #e30e0e;
    border-radius: 50px;
    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}